
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    width: 30%;
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 5px 5px white;
}

.formulaire h2 {
    background-color: white;
    border-bottom: solid 2px purple;
    font-size: 120%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    }

.formulaire h3 {
    background-color: white;
    font-size: 120%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: red;
    display: flex;
    width: 100%;
    justify-content: center;
    }

    .formulaire label {
        display: flex;
        justify-content: center;
        width: 80%;
        background-color: white;
        font-size: 90%;
    }

    .formulaire input {
        width: 80%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #6B4B3E;
        outline-color: purple;
        background-color: white;
        font-size: 100%;
    }
    
    .formulaire button {
        height: 40px;
        font-size: 100%;
        border-radius: 5px;
        background-color: purple;
        color: white;
        border: none;
        width: 50%;
    }

    .formulaire button:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    } 

    .formulaire textarea {
        width: 80%;
        height: 80px;
        border-radius: 5px;
        border: 1px solid #6B4B3E;
        outline-color: purple;
        background-color: white;
        font-size: 100%;
        resize: none;
    }

    .formulaire select {
        width: 80%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #6B4B3E;
        outline-color: purple;
        background-color: white;
        font-size: 100%;
    }

    #delete_profile {
        background-color: red;
        padding: 20px;
        height: fit-content;
    }

    #modify_resa {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #delete_resa {
        background-color: red;
        padding: 20px;
        height: fit-content;
    }

    #confirm_delete {
        margin-top: 40px;
        background-color: red;
    }


#resa-form-main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

    #resa-form {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 10%;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    #resa-form .formulaire {
    width: 40%;
    padding: 10px;
    }

    #small_planning { 
        width: 40%;
        margin-right: 20px;
    }

    #resa-form h2{
        font-size: 100%;
        margin-bottom: 10px;
    }

    #resa-form h3{
        font-size: 100%;
        margin-bottom: 10px;
    }

    #resa-form #title-user {
        height: 30px;
        font-size: 90%;
        margin-bottom: 10px;
    }

    #resa-form label {
        height: 20px;
        font-size: 80%;
    }

    #resa-form input {
        height: 30px;
        font-size: 90%;
    }

    #resa-form select {
        height: 30px;
        font-size: 90%;
    }

    #resa-form textarea {
        height: 30px;
        font-size: 90%;
    }

    #resa-form #desc {
        height: 80px;
        font-size: 90%;
    }

    #resa-form button {
        height: 30px;
        font-size: 90%;
    }

    #small_calendar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
        #small_calendar button {
            font-size: 100%;
            border-radius: 10%;
        }
    
        #small_previous_week:hover {
            transform: translateX(-5px);
            background-color: gold;
            
        }
    
        #small_today_button:hover {
            background-color: gold;
            transform: scale(1.15);
            transition-duration: 0.5s;
        }
    
        #small_next_week:hover {
            transform: translateX(5px);
            background-color: gold;
        }

    table {
        font-size: 70%;
        width: 100%;
        margin-right: 30px;
        height: 40%;
    }

    th {
        background-color: purple;
        color: white;
    }

    td {
        background-color: green;
        margin: 0%;
        padding: 0%;
        width: 5%;
        height: 40px;
        text-align: center;
    }

    .booked {
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0%;
    }

    .closed {
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0%;
    }

    .creneaux {
        background-color: purple;
        color: white;
        border-right: none;
      }
